.edit-album-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-album-submit-container {
  height: 200px;
  position: relative;
}

.edit-album-submit-button {
  background-color: #a4c991;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 263px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edit-album-submit-button.disabled-button {
  background-color: #989898;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 263px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cancel-edit-album-submit-button {
  background-color: #a4c991;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 403px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.delete-edit-album-submit-button {
  background-color: #a4c991;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 497px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

label {
  color: #040801ee;
  font-weight: bold;
}
/* styling for choose image file button */
input[type=file]::file-selector-button {
  color: white;
  background-color: #a4c991;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 14px 20px;
}